/* Global Styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-family: sans-serif;
	background-image: url(gameboard2.jpg);
	background-size: contain;
}

/* Header Styles */
.title {
	text-align: center;
	padding: 3rem 1rem 3rem 1rem;
	font-weight: 400;
	font-size: 2.5rem;
	background-color: black;
	color: white;
	margin: 1rem;
	border-radius: 2rem;
}

/* Content styles */

.move-speed {
	text-align: center;
	padding: 3rem 1rem 3rem 1rem;
	font-weight: 400;
	font-size: 1.5rem;
	background-color: black;
	color: white;
    margin: 1rem;
	border-radius: 2rem;
}

/* Table style */
table,
th,
td {
	border: 4px solid black;
	padding: 0.3rem;
}

table {
	border-collapse: collapse;
	width: 90vw;
	margin: 1rem;
}

.column-header {
	font-weight: bold;
	text-align: center;
	font-size: 1.3rem;
	background-color: white;
}

.total-header {
	font-weight: bold;
}

.basics {
	background-color: #cdb7db;
}

.selections {
	background-color: #d5efd6;
}

.extras {
	background-color: #c0fafc;
}

.or {
	font-weight: bold;
	text-align: center;
}
