/* Global Styles */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-family: sans-serif;
	background-image: url(gameboard2.jpg);
	background-size: contain;
}

/* Header Styles */
.title {
	text-align: center;
	padding: 2rem 1rem 2rem 1rem;
	font-weight: 500;
	font-size: 2rem;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	margin: 1rem 1rem 0 1rem;
    border: 2px solid black;
    border-top-left-radius:  1rem;
    border-top-right-radius: 1rem;
    width: 90vw;
}

/* Content styles */

.move-speed {
	text-align: center;
	padding: 2rem 1.5rem 2rem 1.5rem;
	font-weight: 400;
	font-size: 1rem;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
	margin: 0 1rem 1rem 1rem;
	border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
	width: 90vw;
    border: 2px solid black;
    
}

.move-speed-total {
    color: green;
    font-weight: 400;
}

h1 {
    font-weight: 400;
}

/* Table style */
table,
th,
td {
	border: 2px solid black;
	padding: 0.3rem;
    
}

table {
	border-collapse: collapse;
    border-radius: 1rem;
	width: 90vw;
	margin: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}


.column-header {
	font-weight: bold;
	text-align: center;
	font-size: 1.3rem;
	background-color: white;
}

.total-header {
	font-weight: bold;
}

.basics {
	background-color: #cdb7db;
}

.selections {
	background-color: #d5efd6;
}
.select:hover {
    background-color: black;
    opacity: 0.5;
    color: white;
    cursor: pointer;
}

.extras {
	background-color: #c0fafc;
}

.or {
	font-weight: bold;
	text-align: center;
}
